{% extends "base.html" %}

{% block title %}<title>Flask Weather</title>{%endblock%}
    {% block content %}
    <p>Aloha</p>
    <p>{{content}}</p>
    <form method="POST" action="/">
        <input name="text" placeholder="Enter city name">
        <input type="submit" value="Search">
    </form>


    {% if geo_data %}
    <form method="POST" action="/result">
        <p>Select a location:</p>
        {% for location in geo_data %}
            <label>
                <input type="radio" name="selected_location" value="{{ loop.index0 }}">
                {{ location.name }}, {{ location.state or '' }}, {{ location.country }}
            </label><br>
        {% endfor %}
        <button type="submit">Submit Selection</button>
    </form>
    {% endif %}
    {% endblock %}
