<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="styles.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flask Weather</title>
</head>
<body>
    <p>Aloha</p>
    <p>{{content}}</p>
    <form method="POST" action="/">
        <input name="text" placeholder="Enter city name">
        <input type="submit" value="Search">
    </form>


    {% if geo %}
    <form method="POST" action="/result">
        <p>Select a location:</p>
        {% for location in geo %}
            <label>
                <input type="radio" name="selected_location" value="{{ loop.index0 }}">
                {{ location.name }}, {{ location.state or '' }}, {{ location.country }}
            </label><br>
        {% endfor %}
        <button type="submit">Submit Selection</button>
    </form>
    {% endif %}
</body>
</html>