<form method="POST" action="/">
    <input name="text" placeholder="Enter city name">
    <input type="submit" value="Search">
</form>

<form method="POST" action="/select">
        {% if not results %}
            <p>Select a location:</p>
        {%endif%}
        <h1>{{ results['name'] }}, {{ results['country'] }}</h1>

        <p>Temperature: {{ results['temperature_f'] }}°F</p>
        <p>Feels like: {{ results['feels_like_f'] }}°F</p>
        <p>Humidity: {{ results['humidity'] }}%</p>
        <p>Weather: {{ results['description'] }}</p>
        <img src="http://openweathermap.org/img/wn/{{ results['icon'] }}@2x.png" alt="Weather icon">
        <h2>Weekly Forecast:</h2>
        {% for day in forecast %}
        <div>
            <h3>{{ day.date }}</h3>
            <p>Day: {{ day.temp_day }}°F, Night: {{ day.temp_night }}°F</p>
            <p>{{ day.description }}</p>
            <img src="https://openweathermap.org/img/wn/{{ day.icon }}@2x.png">
        </div>
        {% endfor %}

